.result {
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 50px;
  background-color: antiquewhite;
}
.btn {
  height: 100px;
  max-width: 300px;
  width: 100%;
  background-color: chocolate;
  color: aliceblue;
  transition: all 0.1s ease-in-out;
}
.btn__area {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.btn__clear {
  height: 100px;
  max-width: 300px;
  width: 100%;
  background-color: red;
  color: black;
  display: none;
}
.btn__area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
